:root {
  --bd-green: #006a4e;
  --bd-red: #f42a41;
  --dark-bg: #0b1210;
  --card-bg: #141f1c;
  --text-main: #ffffff;
  --text-muted: #aebdb8;
  --font-head: 'Merriweather', serif;
  --font-body: 'Inter', sans-serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background-color: var(--dark-bg);
  color: var(--text-main);
  font-family: var(--font-body);
  overflow-x: hidden;
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
